/*
 b: #2d2921;
 y: #ffeb7c;
 w: #f1f4f1;
 r: #db4315;
 b: #3E92CC;
*/

html {
  background: #F1F4F1;
  font-size: 20px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

body {
  padding:20px;
}

h1 {
  font-size: 2.5em;
  color: #db4315;
  text-transform: uppercase;
  padding:0 0 20px 0;
  margin:0 0 20px 0;
  border-bottom:1px solid #CCC;
}

h2 {
  font-size: 2em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.main {
  float:left;
  width:67%;
}

.side {
  float:left;
  width:33%;
}

.post {
  background: white;
  padding:20px;
  margin:0 20px 20px 0;
  overflow: hidden;
  /*border-radius:90px;*/
}

.post .avatar {
  width: 150px;
  height: 150px;
  border-radius:50%;
  border: 2px solid #2d2921;
  box-shadow: 0 3px 9px #999;
  float:left;
  padding:0;
  margin:0 20px 0 0;
}

.post h3 {
  color:#3E92CC;
  font-size:1.5em;
  font-weight: bold;
}