/*
 b: #2d2921;
 y: #ffeb7c;
 w: #f1f4f1;
 r: #db4315;
 b: #3E92CC;
*/

html {
  background: #F1F4F1;
  font-size: 20px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

body {
  padding:20px;
}

h1 {
  font-size: 2.5em;
  color: #db4315;
  text-transform: uppercase;
  padding:0 0 20px 0;
  margin:0 0 20px 0;
  border-bottom:1px solid #CCC;
}

h2 {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  display:inline-block;
}

strong {
  font-weight: bold;
}

.main {
  float:left;
  width:67%;
}

.side {
  float:left;
  width:33%;
}

.post {
  background: white;
  padding:20px;
  margin:0 20px 20px 0;
  overflow: hidden;
}

.post h3 {
  color:#3E92CC;
  font-size:1.5em;
  font-weight: bold;
}

.post.highlighted {
  background: #ffeb7c;
}

.avatar {
}

.avatar strong {
  display: block;
  text-align: center;
  margin-bottom:10px;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius:50%;
  border: 2px solid #2d2921;
  box-shadow: 0 3px 9px #999;
  padding:0;
}

.post .avatar {
  float:left;
  margin:0 20px 0 0;
}

.post .avatar strong {
  font-size:0.8em;
}

.post .avatar img {
  height: 80px;
  width: 80px;
  overflow:hiden;
  border-radius: 0;
  border:none;
  background: #3E92CC;
  padding-left:20px;
}

.profile {
  background: #ffeb7c;
  overflow: hidden;
  padding:20px;
}

.profile .avatar img{
  display:block;
  margin:0 auto 20px auto;
}

.search {
  float:right;
  margin-right: 20px;
  height: 30px;
  padding:5px;
  font-size:20px;
}